@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background: #27272a;
}
.container
{
width: 95%;
margin: auto;
}

.menu-link {
@apply text-[#e0b79880]/50 cursor-pointer hover:text-primary text-lg;
}

.center-pattern {
    position:relative;
}

.center-pattern::after{
    content:"";
    background:#ff6e00;
    width:30px;
    z-index:-1;
    height:600px;
    position:absolute;
    transform:rotate(65deg)
}

.center-pattern::before{
    content:"";
    background:#ff6e00;
    width:30px;
    z-index:-1;
    height:600px;
    position:absolute;
    transform:rotate(115deg)
}

.mob-menu
{
    position: absolute;
    background: red;
    width: 100%;
    color: white;
    top: 50px;
}